/* Style for the form container */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #fff;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: background 0.5s, color 0.5s;
    height:100vh;
    width:100vw;
    color:#333;
  }
#user-form {
    margin:10vh 0 0 0;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  /* Style for the form labels */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }

  /* Style for the input fields */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }

  input:focus {
    border-color: #4e9af1;
    outline: none;
  }

  /* Style for the submit button */
  button {
    width: 45%;
    padding: 12px;
    background-color: #4e9af1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin:10px 2.5% 0 0;
  }
  #another-option{
    display: inline-block;
    width:45%;
    margin:10px 2.5% 0 0;
    vertical-align: middle;
    word-spacing:3px;
  }
  button:hover {
    background-color: #3578e5;
  }

  button:active {
    background-color: #2a64c9;
  }

  /* Optional: Add a small space between password inputs */
  input[type="password"]:nth-child(3),
  input[type="password"]:nth-child(4) {
    margin-bottom: 10px;
  }

  #response-message {
    display:inline-block;
    visibility: hidden;
    margin-top:5vh;
    color:red;
    padding:2%;
    vertical-align: middle;
    font-weight: bold;
    border:solid 1px rgb(228, 115, 115);
    box-shadow:3px 3px 3px  rgb(236, 140, 140), -3px -3px 3px  rgb(233, 183, 183);
    width:50vw;
    border-radius: 10px;
  }
  /* Optional: Add some responsive design */
  @media (max-width: 500px) {
    #user-form {
      width: 90%;
      padding: 20px;
    }
  }