.navbar{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98vw;
    flex-wrap: nowrap;
    box-sizing:border-box;
    box-sizing: border-box;
    height:10vh;
}
.navbar-2{
    display: flex;
    justify-content: space-between;
    width:40vw;
    box-sizing: border-box;
    margin-left:40vw;
}

footer {
    background-color: #1a1a1a;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: auto;
    width:98vw;
    box-sizing: border-box;
    margin:50px 0 0 0;
  }
  
  footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #81C784;
  }
  
  @media screen and (max-width: 600px) {
    footer {
      padding: 15px;
    }
  
    footer a {
      display: block;
      margin: 10px 0;
    }
  }
  
#signup,#login{
    width:5vw;
    height:2vh;
    margin:10px;
}
