
footer {
    background-color: #1a1a1a;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: auto;
    width:98vw;
    box-sizing: border-box;
    margin:50px 0 0 0;
  }
  
  footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #81C784;
  }
  
  @media screen and (max-width: 600px) {
    footer {
      padding: 15px;
    }
  
    footer a {
      display: block;
      margin: 10px 0;
    }
  }
  
