.navbar-app{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98vw;
    flex-wrap: nowrap;
    box-sizing:border-box;
    box-sizing: border-box;
    height:10vh;
}

.navbar-app-2{
    display: flex;
    justify-content: space-between;
    width:40vw;
    box-sizing: border-box;
    margin-left:40vw;
}
#signup,#login{
    width:5vw;
    height:2vh;
    margin:10px;
}